<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find a Slice</title>
    <!-- <link rel="stylesheet" href="/stylesheet/style.css" /> -->
  </head>
  <body>
    <h1>How You Dooin?</h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/pizza/new">Add a Slice</a>
        </li>
        <!-- <li>
        <a href=""></a>
      </li> -->
      </ul>
      <form id="search">
        <input type="text" placeholder="Name of Shop or Borough" />
        <input type="submit" value="Lets Go" />
      </form>
    </nav>
  </body>
</html>
