<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
<H1>Wanna Slice?</H1>
<nav> <button><a href="./index.ejs">Click Here for Shops</a></button>
<nav> <button><a href="./new.ejs">Click Here to add a Slice</a></button>
</nav>
      
</body>
<audio src="audio/Bee Gees - Stayin' Alive (Official Music Video).mp3" autoplay loop></audio>
</body>
</html>