<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <title>Add a Slice</title>
  </head>
  <body class="new">
        <form action="/pizza" method="POST">
          Name: <input class="name" type="text" name="name" placeholder="Name" />
          <br>
          Address: <input class="address" type="text" name="address" placeholder="Address" />
          <br>
          Borough: <input class="borough" type="text" name="borough" placeholder="Borough" />
          <br />
          Rating: <input class="score" type="number" name="rating" step="any" min="0" max="10" placeholder="1-10" />
         <br>
          Review: <input class="review" type="text" name="review"  placeholder="review" />
          <br>
          <input class="newslice" type="submit" value="Add Slice" />
        </form>
      </ul>
    </nav>
  </body>
</html>
