<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a Slice</title>
  </head>
  <body>
        <form action="/pizza" method="POST">
          Name: <input type="text" name="name" placeholder="Name" />
          Address: <input type="text" name="address" placeholder="Address" />
          Borough: <input type="text" name="borough" placeholder="Borough" />
          <br />
          Rating: <input type="number" name="rating" step="any" min="0" max="10" placeholder="1-10" />
         Review: <input type="text" name="review" placeholder="review" />
          <input type="submit" value="Add Slice" />
        </form>
      </ul>
    </nav>
  </body>
</html>
