body {
    background-attachment: fixed;
    background-position: center;
}
.home {
    background-image: url('pictures/pizza-slice-crimp.webp');
    background-repeat: no-repeat;
   background-size: cover;

}
.home h1 {
text-align: center;
color: #FAFF81;
text-shadow: 2px 2px #ff0000
}
.index   {
    background-image: url('pictures/cugine-2-1.jpg.webp');
    background-repeat: no-repeat;
    display: block;
    background-size:contain;
    font-family: 'Bungee Spice', cursive;
font-family: 'Roboto', sans-serif;  
}
.index h1 {
    text-align: center;
color: red;
font-weight: bolder;
} 
 .index nav {
  text-align: center;
  display: block;
  font-size: xx-large;
}
.index nav:hover{
    background-color: orange;
}
.index a {
    font-size: xx-large;
    color: papayawhip;
}
.add {
    color: black;
    font-family: "Comic Sans Ms", "Comic Sans", cursive;

}

.new  {
    background-image: url('./pictures/pizzatime.webp');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    font-family: 'Bungee Spice', cursive;
font-family: 'Roboto', sans-serif;

}
.new form {
position: relative; left: 500px;
display: grid;
color: white;
height: 40px;

}
.new input {

}
