body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

ul, li {
    list-style-type: none;
}

.home {
    background-image: url('pictures/pizza-slice-crimp.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.home h1 {
    font-size: 4.5vw;
    text-align: center;
    color: #FAFF81;
    text-shadow: 0.2em 0.2em #ff0000;
}

.home nav {
    text-align: center;
    display: block;
    font-size: 2.5vw;
}

.home a {
    color: black;
    font-family: "Comic Sans Ms", "Comic Sans", cursive;
    font-size: 1.5vw;
}

.home button {
    height: 3.75vw;
    width: 33.33vw;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    color: #82968c;
    border: 0.05em solid #82968c;
    border-radius: 1.5vw;
    box-shadow: 0.2em 0.2em #ff0000;
}

.index {
    background-image: url('pictures/cugine-2-1.jpg.webp');
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Roboto', sans-serif;
}

.index h1 {
    text-align: center;
    color: red;
    text-shadow: 0.2em 0.2em rgb(3, 3, 3);
    font-weight: bolder;
    position: relative;
    padding-right: 25%;
}

.index nav {
    text-align: center;
    display: block;
    font-size: 2.5vw;
}

.index nav:hover {
    color: black;
    font-family: "Comic Sans Ms", "Comic Sans", cursive;
}

.add {
    color: black;
    font-family: "Comic Sans Ms", "Comic Sans", cursive;
    font-size: 2.5vw;
}

.index ul li {
    padding-left: 12%;
    text-shadow: 0.2em 0.2em black;
}

.index button {
    height: 3.75vw;
    width: 33.33vw;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    color: #82968c;
    border: 0.05em solid #000000;
    border-radius: 1.5vw;
    box-shadow: 0.2em 0.2em #ff0000;
}

.shops {
    font-size: 2.5vw;
    color: papayawhip;
}

.new {
  background-image: url('./pictures/pizzatime.webp');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Bungee Spice', cursive;
  font-family: 'Roboto', sans-serif;
}

.new form {
  display: grid;
  color: white;
  height: auto;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

.name,
.address,
.borough,
.score,
.review,
.newslice {
  height: 4vw;
  font-size: 2vw;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 15px;
  box-shadow: 2px 2px #ff0000;
}

.review {
  height: 80px;
}

.newslice {
  height: 60px;
}

.show {
  background-image: url("pictures/pizzatime.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: auto;
}
.show h1 {
  text-align: center;
  color: #FAFF81;
  text-shadow: 2px 2px #ff0000;
  font-size: 60px;
}
.show nav {
  text-align: center;
  color: #FAFF81;
  text-shadow: 2px 2px #ff0000;
  font-size: 40px;
  border: none;
  border-radius: 15px;
}
.show a {
  color: black;
  font-family: "Comic Sans Ms", "Comic Sans", cursive;
  text-align: center;
  text-shadow: 2px 2px #ff0000;
  font-size: 40px;
}
.show1 {
  text-align: center;
  color: #FAFF81;
  text-shadow: 2px 2px #ff0000;
  font-size: 40px;
}
.edit {
  background-image: url("pictures/pizzatime.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: auto;
}

.edit h1 {
  text-align: center;
  color: #FAFF81;
  text-shadow: 2px 2px #ff0000;
  font-size: 60px;
}

.edit form {
  position: relative;
  display: grid;
  color: white;
  height: 40px;
  margin: 0 auto;
  max-width: 600px;
}

.ename, .eaddress, .eborough, .erating {
  height: 25px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}

.ereview {
  font-size: 20px;
  word-wrap: normal;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
}

.esubmit {
  height: 45px;
  width: 100%;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  color: #FAFF81;
  border: 1px solid #000000;
  border-radius: 15px;
  box-shadow: 2px 2px #ff0000;
}

    @media screen and (max-width: 767px) {
        body {
          background-attachment: scroll;
          size: 100vh;
        }
        .home h1, .index h1, .show h1, .show nav, .show1, .edit h1 {
          font-size: 40px;
        }
        .edit{
            size: 70%;
        }
        .home nav, .index nav, .shops, .show a {
          font-size: 30px;
        }
        .home button, .index button, .newslice {
            height: 50%;
            width: 70%;
            font-size: 80%;
        }
        .index ul li {
          padding-left: 5%;
        }
        .new form {
          left: 50%;
          grid-template-columns: 1fr;
        }
        .name, .address, .borough, .score, .review {
          width: 70%;
        }
      }
      