body {
    background-image: url('./pictures/pizzatime.webp');
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    font-family: 'Bungee Spice', cursive;
font-family: 'Roboto', sans-serif;

    
}
h1 {
    text-align: center;
color: red;
} 
 nav {
  text-align: center;
  display: block;
  font-size: xx-large;
}
nav:hover{
    background-color: orange;
}
a {
    font-size: xx-large;
    color: papayawhip;
}
.add {
    color: black;
    font-family: "Comic Sans Ms", "Comic Sans", cursive;

}

ul, li {
    list-style: none;
    font-size: 50px;
    position: relative; left: 80px;
    
    
}